---
# tasks/overlay/vxlan.yml

- name: Configurar Vxlan1 base en leafs
  eos_config:
    parents: "interface Vxlan1"
    lines:
      - "vxlan source-interface Loopback0"
      - "vxlan udp-port 4789"
  when: inventory_hostname in groups['leafs']
  become: yes
  become_method: enable

- name: Obtener VLANs desde NetBox
  uri:
    url: "{{ netbox_url }}/api/ipam/vlans/"
    method: GET
    headers:
      Authorization: "Token {{ netbox_token }}"
    return_content: yes
  register: vlans_raw
  delegate_to: localhost

- name: Aplicar VNIs en EOS (leafs)
  eos_config:
    parents: "interface Vxlan1"
    lines:
      - "vxlan vlan {{ item.vid }} vni {{ item.custom_fields.VNI }}"
  loop: "{{ vlans_raw.json.results }}"
  when: inventory_hostname in groups['leafs']
  become: yes
  become_method: enable

