---
- name: Configurar puertos de acceso para servidores en VLAN 10
  eos_config:
    parents: "interface {{ item.name }}"
    lines:
      - "description {{ item.description }}"
      - "switchport"
      - "switchport access vlan {{ item.vlan }}"
      - "spanning-tree portfast"
      - "no shutdown"
  loop: "{{ server_access_ports[inventory_hostname] | default([]) }}"
  when: inventory_hostname in groups['leafs']
  become: yes
  become_method: enable

