###############################################
# 1. Obtener prefix padre desde NetBox
###############################################
- name: Obtener prefix padre desde NetBox
  uri:
    url: "{{ netbox_url }}/api/ipam/prefixes/?prefix={{ underlay_pool }}"
    method: GET
    headers:
      Authorization: "Token {{ netbox_token }}"
      Content-Type: "application/json"
    return_content: yes
  register: parent_prefix

###############################################
# 2. Obtener prefijo /31 disponible para el enlace
###############################################
- name: Obtener prefijo /31 disponible para el enlace
  uri:
    url: "{{ netbox_url }}/api/ipam/prefixes/{{ parent_prefix.json.results[0].id }}/available-prefixes/"
    method: POST
    headers:
      Authorization: "Token {{ netbox_token }}"
      Content-Type: "application/json"
    body_format: json
    body:
      prefix_length: 31
    return_content: yes
    status_code: [200, 201]
  register: link_prefix

###############################################
# 3. Obtener ID del interface del spine
###############################################
- name: Obtener ID del interface del spine
  uri:
    url: "{{ netbox_url }}/api/dcim/interfaces/?device={{ link.spine }}&name={{ link.spine_if }}"
    method: GET
    headers:
      Authorization: "Token {{ netbox_token }}"
    return_content: yes
  register: spine_if_raw

###############################################
# 4. Obtener ID del interface del leaf
###############################################
- name: Obtener ID del interface del leaf
  uri:
    url: "{{ netbox_url }}/api/dcim/interfaces/?device={{ link.leaf }}&name={{ link.leaf_if }}"
    method: GET
    headers:
      Authorization: "Token {{ netbox_token }}"
    return_content: yes
  register: leaf_if_raw

###############################################
# 5a. Convertir IP base en lista de octetos
###############################################
- name: Convertir IP base en lista de octetos
  set_fact:
    ip_parts: "{{ link_prefix.json.prefix.split('/')[0].split('.') | map('int') | list }}"

###############################################
# 5b. Calcular IP spine y leaf (/31)
###############################################
- name: Calcular IPs del enlace (/31)
  set_fact:
    spine_ip: "{{ [ ip_parts[0], ip_parts[1], ip_parts[2], ip_parts[3] ] | join('.') ~ '/31' }}"
    leaf_ip:  "{{ [ ip_parts[0], ip_parts[1], ip_parts[2], ip_parts[3] + 1 ] | join('.') ~ '/31' }}"

###############################################
# 6. Asignar IP al spine
###############################################
- name: Asignar IP al spine
  uri:
    url: "{{ netbox_url }}/api/ipam/ip-addresses/"
    method: POST
    headers:
      Authorization: "Token {{ netbox_token }}"
      Content-Type: "application/json"
    body_format: json
    body:
      address: "{{ spine_ip }}"
      assigned_object_type: "dcim.interface"
      assigned_object_id: "{{ spine_if_raw.json.results[0].id }}"
    status_code: [200, 201]
  register: spine_ip_created

###############################################
# 7. Asignar IP al leaf
###############################################
- name: Asignar IP al leaf
  uri:
    url: "{{ netbox_url }}/api/ipam/ip-addresses/"
    method: POST
    headers:
      Authorization: "Token {{ netbox_token }}"
      Content-Type: "application/json"
    body_format: json
    body:
      address: "{{ leaf_ip }}"
      assigned_object_type: "dcim.interface"
      assigned_object_id: "{{ leaf_if_raw.json.results[0].id }}"
    status_code: [200, 201]
  register: leaf_ip_created

