frr version 8
frr defaults traditional
hostname {{ inventory_hostname }}
log syslog informational
service integrated-vtysh-config

! BGP underlay - Leaf {{ inventory_hostname }}

router bgp {{ device_asn }}
  router-id {{ loopback_ip.split('/')[0] }}

{% for neigh in bgp_neighbors_underlay %}
  neighbor {{ neigh.peer_ip }} remote-as {{ neigh.peer_asn }}
{% endfor %}

  address-family ipv4 unicast
{% for neigh in bgp_neighbors_underlay %}
    neighbor {{ neigh.peer_ip }} activate
{% endfor %}
    network {{ loopback_ip }}

