frr version 8
frr defaults traditional
hostname {{ inventory_hostname }}
log syslog informational
service integrated-vtysh-config

interface {{ link.leaf_if }}
  ip address {{ leaf_ip.json.results[0].address.split('/')[0] }}/31


