###############################################
# PLAY 1: Crear IPs en NetBox
###############################################
- hosts: localhost
  gather_facts: no
  tasks:
    - name: Crear IPs en NetBox
      include_tasks: tasks/underlay.yml
      loop: "{{ links }}"
      loop_control:
        loop_var: link


###############################################
# PLAY 2: Configurar SPINES vía eAPI
###############################################
- hosts: localhost
  gather_facts: no
  tasks:
    - name: Configurar SPINE
      block:
        - include_tasks: tasks/configure_spine.yml
          loop: "{{ links }}"
          loop_control:
            loop_var: link
      delegate_to: "{{ link.spine }}"
      run_once: false


###############################################
# PLAY 3: Configurar LEAFS vía eAPI
###############################################
- hosts: localhost
  gather_facts: no
  tasks:
    - name: Configurar LEAF
      block:
        - include_tasks: tasks/configure_leaf.yml
          loop: "{{ links }}"
          loop_control:
            loop_var: link
      delegate_to: "{{ link.leaf }}"
      run_once: false

