###############################################
# PLAY 1: Crear loopbacks en NetBox
###############################################
- hosts: spines, leafs
  gather_facts: no
  strategy: free
  ignore_unreachable: yes
  tasks:
    - include_tasks: tasks/loopbacks.yml


###############################################
# PLAY 2: Configurar loopbacks en EOS
###############################################
- hosts: spines
  gather_facts: no
  ignore_unreachable: yes
  tasks:
    - include_tasks: tasks/configure_loopback_eos.yml


###############################################
# PLAY 3: Configurar loopbacks en leafs (EOS)
###############################################
- hosts: leafs
  gather_facts: no
  ignore_unreachable: yes
  tasks:
    - include_tasks: tasks/configure_loopback_eos.yml

